body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Karla', sans-serif, Arial, Helvetica;
}

h1 {
   margin-bottom: 2px;
}

p {
    margin-bottom: 75px;
}

hr {
    display: block;
    border: solid 1px #2F3E53;
    width: 446px;
    height: 0px;
    margin: 0 auto 40px auto;
}


#container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 550px;
    width: 550px;
    border-radius: 10px;
    margin: 40px auto;
    padding-left: 30px;
}

#generator-button {
    border: none;
    border-radius: 5px;
    background-color: #4ADF86;
    color: white;
    height: 42px;
    width: 191px;
    margin-bottom: 40px;
}

#generator-button:active {
    background-color: #10B981;
}

.second-heading {
    color: #4ADF86;
    margin-top: 2px;
    margin-bottom:2px;
}

#passPreview {
    display: flex;
    justify-content: space-evenly;
    color: #55F991;
}

#preview1, #preview2 {
    background-color: #273549;
    height: 39px;
    width: 211px;
    border-radius: 5px;
    text-align: center;
}