body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Karla', sans-serif, Arial, Helvetica;
}

#container {
    background-color: #1F2937;
    height: 550px;
    width: 550px;
    border-radius: 10px;
    margin: 40px auto;
}

#generator-button {
    border: none;
    border-radius: 5px;
    background-color: #4ADF86;
    color: white;
    height: 42px;
    width: 191px;
}

#generator-button:active {
    background-color: #10B981;
}

.second-heading {
    color: #4ADF86;
}

#passPreview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    color: white;
}

#preview1, #preview2 {
    background-color: #273549;
    height: 39px;
    width: 211px;
    border-radius: 5px;
}